/target/
# Eclipse files
.classpath
.project
.settings/

# Java build
bin/
target/

# Reports
test-output/
ExtentReports/
screenshot/
*.png
*.html

# Excel temp files
*.xlsx~

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

